/* markdown-styles.module.css */
.reactMarkDown {
  font-size: 14px;
}

.reactMarkDown p {
  margin-bottom: 12px;
}

.reactMarkDown p strong {
  font-family: 'Lato-Regular';
  font-size: 18px;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}
